:root {
    --main-bg-color: rgb(205, 89, 66);
    --main-bg-color-a: rgb(205, 89, 66);
    --main-bg-color-a1: rgb(205, 89, 66);
    --main-bg-color-a2: rgb(205, 89, 66);
    --main-bg-color-dark: rgb(99, 90, 88);
    --main-bg-color-light: #fff;
    --main-bg-image: #cd5942;
    --main-bg-image2: #cd5942;
    --main-bg-image-dark: #b0afae;
    --main-bg-image-dark2: #b0afae;
}
